@import "variables.scss";
$breakpoints: ("phone": 400px,
"phone-wide": 480px,
"phablet": 560px,
"tablet-small": 640px,
"tablet": 768px,
"tablet-wide": 1024px,
"desktop": 1248px,
"desktop-wide": 1440px);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin pushAuto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin titleH2($sizeH2: 3rem, $titleColor: $accent-color-dark) {
  font-family: "Anton", sans-serif;
  font-size: $sizeH2;
  color: $titleColor;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.5px;
  font-weight: lighter;

  @include mq(tablet-wide, max) {
    font-size: 2em;
  }

  @include mq(phone-wide, max) {
    font-size: 1.5em;
  }
}

@mixin paragraf($sizeP: 1rem, $paragColor: $text-color) {
  font-family: "Quicksand", sans-serif;
  font-size: $sizeP;
  color: $paragColor;
  text-align: justify;
  line-height: 1.4;
}

@mixin button {
  font-family: "Anton", sans-serif;
  box-sizing: content-box;
  width: 85px;
  height: 35px;
  background: #663ab2cc;
  border: none;
  border-radius: 5px;
  color: $main-bg-color;
  font-size: 1.2em;
  letter-spacing: 0.8px;
  box-shadow: 0px 5px #31106b;
  margin: 0 5px;
  transition: background 150ms ease-in-out, color 150ms ease-in-out,
    box-shadow 150ms ease-in-out, transform 150ms ease-in-out;

  &:hover {
    background: $accent-color;
    box-shadow: 0px 2px #31106b;
    cursor: pointer;
    transform: translateY(3px);
  }
}

@mixin sectorBox {
  box-sizing: border-box;
  width: 80vw;
  max-width: 1900px;
  padding: 30px 50px;
  margin: 20px 50px;
  background: $main-bg-color;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  @include mq(phone-wide, max) {
    padding: 20px 15px;
  }
}