$main-bg-color: #ffffff;
$second-bg-color: #faf9fd;
$accent-color-dark: #5600a0;
$accent-color: #663ab2;
$accent-second-color: #cd49a9;
$text-color: #0a0a0a;
$text-grey: #000c;
$text-size: 1rem;
$font-title: "Anton", Impact, sans-serif;
$font-article: "Quicksand", "Trebuchet MS", Helvetica, sans-serif;
