@import "variables.scss";
@import "mixins.scss";

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
}

.arrow {
  width: 10px;
  pointer-events: fill;
}

.nextArrow {
  filter: drop-shadow(1px 1px 1.5px #696969a8);
  -webkit-filter: drop-shadow(1px 1px 1.5px #696969a8);

  &:hover {
    filter: none;
  }

}

.prevArrow {
  filter: drop-shadow(2px 1px 1.5px #696969a8);

  &:hover {
    filter: none;
  }
}

.nextArrow {
  margin-right: 20px;
  transform: scaleX(-1);
  cursor: pointer;
}

.prevArrow {
  margin-left: 20px;
  cursor: pointer;
}

.navDots {
  position: absolute;
  z-index: 100;
  bottom: 10px;
  width: 250px;
  height: 16px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  left: 0;
  right: 0;

  @include mq(phone, max) {
    width: auto;
  }
}

.dots {
  z-index: 100;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.dot {
  width: 30px;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 1px 1px #696969a8);

  &:hover {
    filter: none;
  }
}