@import "variables.scss";
@import "mixins.scss";

.sectionPortfolio {
  background-color: #faf9fe;
  background-image: url(./img/portfolio_bg3.jpg);
  background-size: 100% auto;
  background-position: 10% top;
  background-repeat: no-repeat;
  padding: 8vw 0;

  .container {
    @include sectorBox;
    @include pushAuto;
    box-shadow: none;
    background: none;
  }

  h2 {
    @include titleH2;
    text-align: center;
  }

  .closeButtonModal {
    position: absolute;
    margin-top: 40px;
    margin-left: calc(50% + 285px);
    border-radius: 20px;
    background: none;
    border: 1px solid $accent-second-color;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1px 7px 3px;
    color: $accent-color;
    font-size: 14px;
    cursor: pointer;
  }

  .bgGame {
    background-image: url(./Slides/Game/img/game800.jpg);
    background-size: 800px 434px;
    background-position: top left;
    background-repeat: no-repeat;

    @include mq(desktop, max) {
      background-image: url(./Slides/Game/img/game650.jpg);
      background-size: 650px 352px;
      background-position: top center;
    }

    @include mq(tablet-wide, max) {
      background-image: url(./Slides/Game/img/game400.jpg);
      background-size: 400px 217px;
    }
  }

  .bgFosca {
    position: relative;
    background-image: url(./Slides/Fosca/img/multiscreen_fosca_800.png);
    background-size: 800px 527px;
    background-position: top left;
    background-repeat: no-repeat;

    @include mq(desktop, max) {
      background-image: url(./Slides/Fosca/img/multiscreen_fosca_650.png);
      background-size: 650px 428px;
      background-position: top center;
    }

    @include mq(tablet-wide, max) {
      background-image: url(./Slides/Fosca/img/multiscreen_fosca_400.png);
      background-size: 400px 264px;
    }

    @include mq(tablet-small, max) {
      background-image: url(./Slides/Fosca/img/multiscreen_fosca_300.png);
      background-size: 300px 198px;
    }

    @include mq(phone-wide, max) {
      background-image: url(./Slides/Fosca/img/multiscreen_fosca_250.png);
      background-size: contain;
    }

    .foscaGif {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $second-bg-color;
    }

    .presentationFosca {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 60px 80px;
      background: $main-bg-color;
    }
  }

  .bgKoduje {
    background-image: url(./Slides/Koduje/img/koduje800.jpg);
    background-size: 800px 434px;
    background-position: top left;
    background-repeat: no-repeat;

    @include mq(desktop, max) {
      background-image: url(./Slides/Koduje/img/koduje650.jpg);
      background-size: 650px 352px;
      background-position: top center;
    }

    @include mq(tablet-wide, max) {
      background-image: url(./Slides/Koduje/img/koduje400.jpg);
      background-size: 400px 217px;
    }
  }

  .bgMja {
    background-image: url(./Slides/Mja/img/multiscreen_mja800.png);
    background-size: 800px 527px;
    background-position: top left;
    background-repeat: no-repeat;

    @include mq(desktop, max) {
      background-image: url(./Slides/Mja/img/multiscreen_mja650.png);
      background-size: 650px 428px;
      background-position: top center;
    }

    @include mq(tablet-wide, max) {
      background-image: url(./Slides/Mja/img/multiscreen_mja400.png);
      background-size: 400px 264px;
    }
  }

  .examplesWorks {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    height: 527px;

    @include mq(desktop, max) {
      height: 428px;
    }

    @include mq(tablet-wide, max) {
      height: auto;
    }

    .imgContainer {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .exampleDescription {
      margin: 60px 5px 60px 45%;
      background: $second-bg-color;
      padding: 10px 30px 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);

      @include mq(tablet-wide, max) {
        margin: 290px 5px 0;
        box-shadow: none;
      }

      @include mq(phone-wide, max) {
        margin: 85% 5px 0;
      }

      h3 {
        @include titleH2;
        font-size: 2.2rem;
      }

      p {
        @include paragraf($sizeP: 1.1rem);
        text-align: justify;
        margin-bottom: 40px;
      }

      .linkToExample {
        font-family: "Anton", sans-serif;
        font-variant-caps: all-petite-caps;
        letter-spacing: 0.5px;
        font-weight: lighter;
        float: right;
        font-size: 1.2rem;
        text-align: right;
        padding: 2px 15px 5px;
        color: $accent-color-dark;
        background: $main-bg-color;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: box-shadow 200ms ease-in-out 0s;
        -webkit-transition: box-shadow 200ms ease-in-out 0s;
        -moz-transition: box-shadow 200ms ease-in-out 0s;
        -ms-transition: box-shadow 200ms ease-in-out 0s;
        -o-transition: box-shadow 200ms ease-in-out 0s;

        &:hover {
          box-shadow: none;
          transition: box-shadow 100ms ease-in-out 0s;
          -webkit-transition: box-shadow 100ms ease-in-out 0s;
          -moz-transition: box-shadow 100ms ease-in-out 0s;
          -ms-transition: box-shadow 100ms ease-in-out 0s;
          -o-transition: box-shadow 100ms ease-in-out 0s;
        }
      }
    }
  }

  .navBarCarousel {
    @include pushAuto;
    width: 100px;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    .carouselDot {
      width: 20px;
      height: 20px;
      background-color: $main-bg-color;
      border: 1px solid $accent-second-color;
      border-radius: 20px;
      margin: 0 5px;
    }
  }
}