@import "variables.scss";
@import "mixins.scss";

.sectionSkills {
  background-image: url(./img/skills_bg2.jpg);
  background-size: 100% auto;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 9vw 0;

  .container {
    @include sectorBox;
    @include pushAuto;
    background-color: #ffffffe8;
  }

  h2 {
    @include titleH2;
    text-align: center;
  }

  .skillText {
    margin: 40px 0;
    align-items: center;

    p {
      @include paragraf;
      margin: 50px 0 10%;
    }
  }
}