@import "mixins.scss";

ul {
  list-style-type: none;
  display: flex;

  li {
    margin: 0 20px;
    height: 2rem;
    @include mq(desktop, max) {
      margin: 0 15px;
    }

    &:hover a {
      transform: scale(1.2);
      transition: transform 200ms ease-in-out 0s;
      cursor: pointer;
    }
    &:not(:hover) a {
      transition: transform 300ms ease-in-out 0.1s;
    }

    a {
      display: inline-block;
      font-family: $font-title;
      text-decoration-line: none;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 2px;
      padding: 0.3rem 0.3rem 0 0.3rem;
      transition: width 1000ms ease-in-out 0s;

      &:after {
        border-bottom: 1px solid $accent-second-color;
        content: "";
        display: block;
        margin: 0.25em auto 0;
        transition: width 250ms ease-in-out 0s;
        width: 0;
      }

      &:hover:after {
        transition: width 100ms ease-in-out 0s;
        width: 100%;
      }
    }
  }
}
