@import "variables.scss";
@import "mixins.scss";

.about {
  height: 45vw;
  padding: 0 10vw;
  background: $main-bg-color;
  font-family: "Anton", sans-serif;
  background-image: url(./img/about_1600.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;

  @include mq(tablet-wide, max) {
    background-image: url(./img/about_tablet.jpg);
    height: 68vw;
  }

  @include mq(tablet, max) {
    background-image: url(./img/about_mobile2.jpg);
    height: 70vw;
  }

  @include mq(phablet, max) {
    background-image: url(./img/about_mobile.jpg);
    height: 86vw;
  }

  @include mq(phone-wild, max) {
    background-image: url(./img/about_mobile400.jpg);
    height: 126vw;
  }

  @include mq(phone, max) {
    background-image: url(./img/about_mobile400.jpg);
    height: 126vw;
  }

  h2 {
    @include titleH2;
    padding-top: 10%;
    margin-top: 0;
  }

  p {
    @include paragraf;
    width: 60vw;

    @include mq(tablet, max) {
      width: 55vw;
    }
  }
}