@import "variables.scss";
@import "mixins.scss";

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50vw;
  background: $main-bg-color;
  font-family: $font-title;
  background-image: url(./img/header_1600.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;

  @include mq(tablet-wide, max) {
    background-image: url(./img/header_tablet.jpg);
  }

  @include mq(tablet, max) {
    background-image: url(./img/header_mobile.jpg);
    height: 60vw;
  }

  @include mq(phablet, max) {
    height: 80vw;
  }

  @include mq(phone, max) {
    background-image: url(./img/header_mobile400.jpg);
    height: 100vw;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 50vw;
    padding: 50px 2% 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include mq(tablet-wide, max) {
      display: none;
    }

    a {
      color: $second-bg-color;
    }
  }

  .titleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 40vw;
    margin-left: 10vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @include mq(tablet, max) {
      width: 60vw;
    }

    @include mq(phone, max) {
      margin-left: 20vw;
    }

    p {
      @include paragraf;
      min-width: 430px;
      width: 80%;
      padding-top: 50px;

      @include mq(tablet, max) {
        min-width: 345px;
      }

      @include mq(phablet, max) {
        min-width: 280px;
        padding-top: 30px;
      }

      @include mq(phone, max) {
        min-width: 60vw;
      }
    }

    .title {
      //   display: flex;
      //   flex-wrap: wrap;
      font-size: 4rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 100;
      width: auto;
      -webkit-box-shadow: 0px -2px 0 2px #ffffff, 0px 1px 0 0px #cd49a9;
      box-shadow: 0px -2px 0 2px #ffffff, 0px 1px 0 0px #cd49a9;
      background: -webkit-gradient(linear,
        left top, left bottom,
        color-stop(40%, $accent-color-dark),
        to($accent-second-color));
      background: linear-gradient(to bottom,
        $accent-color-dark 40%,
        $accent-second-color 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 10px 0;

      @include mq(desktop, max) {
        font-size: 3rem;
      }

      @include mq(tablet-small, max) {
        font-size: 2.5rem;
      }

      @include mq(phablet, max) {
        font-size: 2rem;
      }

      span {
        padding-right: 20px;

        @include mq(tablet-small, max) {
          padding-right: 10px;
        }
      }
    }

    span {
      font-family: "Quicksand", sans-serif;
      font-size: 2rem;
      text-transform: none;
      color: $accent-color-dark;

      @include mq(desktop, max) {
        font-size: 1.5rem;
      }

      @include mq(tablet-small, max) {
        font-size: 1.4rem;
      }

      @include mq(phablet, max) {
        font-size: 1.2rem;
      }
    }
  }

  .titleContainer>span:last-of-type {
    margin-left: 197px;

    @include mq(desktop, max) {
      margin-left: 138px;
    }

    @include mq(tablet, max) {
      margin-left: 122px;
    }

    @include mq(tablet, max) {
      margin-left: 90px;
    }

    @include mq(tablet, max) {
      margin-left: 66px;
    }
  }

  .arrowDown {
    position: absolute;
    top: 45vw;
    width: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-animation: jumping 1s ease-in-out infinite alternate;
    animation: jumping 1s ease-in-out infinite alternate;

    @include mq(tablet, max) {
      top: 57vw;
    }

    @include mq(phablet, max) {
      top: 71vw;
      width: 10px;
    }

    @include mq(phone, max) {
      top: 91vw;
    }
  }

  @-webkit-keyframes jumping {
    0% {
      top: 44.8vw;
    }

    100% {
      top: 45.2vw;
    }
  }

  @keyframes jumping {
    0% {
      top: 44.8vw;
    }

    100% {
      top: 45.2vw;
    }
  }

  @include mq(tablet, max) {
    @-webkit-keyframes jumping {
      0% {
        top: 56.8vw;
      }

      100% {
        top: 57.2vw;
      }
    }

    @keyframes jumping {
      0% {
        top: 56.8vw;
      }

      100% {
        top: 57.2vw;
      }
    }
  }

  @include mq(phablet, max) {
    @-webkit-keyframes jumping {
      0% {
        top: 71.8vw;
      }

      100% {
        top: 72.2vw;
      }
    }

    @keyframes jumping {
      0% {
        top: 71.8vw;
      }

      100% {
        top: 72.2vw;
      }
    }
  }

  @include mq(phone, max) {
    @-webkit-keyframes jumping {
      0% {
        top: 91.8vw;
      }

      100% {
        top: 92.2vw;
      }
    }

    @keyframes jumping {
      0% {
        top: 91.8vw;
      }

      100% {
        top: 92.2vw;
      }
    }
  }
}