@import "variables.scss";
@import "mixins.scss";

.modalContainer {
  position: absolute;
  width: 260px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 130%;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.4);
  cursor: auto;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 114px;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 2px -2px 0px 0 #ffffff, -2px 2px 3px 0 rgba(0, 0, 0, 0.4),
      -1px 1px 0px 0 $accent-color;
  }

  p {
    @include paragraf;
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
  }

  h1 {
    @include titleH2;
    font-size: 1.4rem;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #d8bee2;
    margin-top: 2px;
    background: #f6f2fb;
    text-align: center;
  }

  button {
    position: absolute;
    right: 5px;
    top: 2px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .closeIcon {
    width: 25px;
    height: 25px;
    box-shadow: 0px 1px 2px #6e1ab9c2;
    border-radius: 50%;
    pointer-events: none;
  }
}