@import "mixins.scss";

.bmBurgerButton {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 50px;

  @include mq(tablet-wide, min) {
    display: none;
  }

  @include mq(tablet, max) {
    width: 50px;
    height: 50px;
  }

  @include mq(tablet-small, max) {
    width: 40px;
    height: 40px;
  }

  @include mq(phablet, max) {
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
  }

  @include mq(phone, max) {
    right: 15px;
    top: 20px;
  }
}

.bmBurgerButton object {
  -webkit-filter: drop-shadow(0px 2px 4px #4d298c6b);
  filter: drop-shadow(0px 2px 4px #4d298c6b);
  -webkit-transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);

  &:hover svg {
    -webkit-filter: none;
    filter: none;
  }
}

.bmCrossButton {
  top: 20px !important;
  right: 20px !important;
  width: 30px !important;
  height: 30px !important;
  -webkit-filter: drop-shadow(0px 0.5px 2px #4d298c6b);
  filter: drop-shadow(0px 0.5px 2px #4d298c6b);

  @include mq(tablet, max) {
    width: 20px !important;
    height: 20px !important;
  }

  @include mq(tablet-small, max) {
    width: 20px !important;
    height: 20px !important;
  }

  @include mq(phablet, max) {
    width: 15px !important;
    height: 15px !important;
  }
}

.outerContainer {
  height: 100%;
}

.bgMenu {
  background: #ffffff !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bmItemList {
  color: #000000 !important;
  padding: 0.8em;
  height: auto !important;
}

nav {
  height: auto !important;
}

.bmItem {
  display: inline-block;
}

.bmOverlay {
  background: rgba(62, 23, 168, 0.3) !important;
}

.menuContainer {
  background: $main-bg-color !important;
  width: 300px;

  @include mq(tablet, max) {
    width: 200px !important;
  }

  @include mq(phone, max) {
    margin-left: 100px !important;
  }

  nav {
    margin-top: 60px;
  }

  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  li {
    height: 3rem;
  }
}